body {
    margin: 0;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-image: url(./assets/svg/bg.svg);

}
input{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:1em ;
}